# ignore caches
cache

# custom host files
.gitconfig_*

# Don't share ssh keys and known_hosts
etc/.ssh/*id_rsa
etc/.ssh/*id_rsa.pub
etc/.ssh/known_hosts

# Vim
etc/.vim/bundle
etc/.vim/tmp

# Hammerspoon
*.spoon
!SpoonInstall.spoon
!WiFiTransitions.spoon
# ignore custom git commit hooks
etc/.git_template.d/hooks/*commit
etc/.git_template.d/hooks/*push
etc/.git_template.d/hooks/*pull
