# ignore caches
cache

# custom host files
.gitconfig_local

# Don't share ssh keys and known_hosts
etc/.ssh/*id_rsa
etc/.ssh/*id_rsa.pub
etc/.ssh/known_hosts

# Vim
etc/.vim/bundle
etc/.vim/tmp

# Hammerspoon
*.spoon
!SpoonInstall.spoon
!WiFiTransitions.spoon
