[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
[submodule "janus/vim-latex"]
	path = janus/vim-latex
	url = git://github.com/micheljansen/vim-latex.git
[submodule "janus/vim-nerdtree-tabs"]
	path = janus/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "janus/vim-symfony"]
	path = janus/vim-symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "janus/vim-phpunit"]
	path = janus/vim-phpunit
	url = https://github.com/docteurklein/vim-phpunit.git
