[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
[submodule "janus/vim-latex"]
	path = janus/vim-latex
	url = git://github.com/micheljansen/vim-latex.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "janus/vim-symfony"]
	path = janus/vim-symfony
	url = https://github.com/docteurklein/vim-symfony.git
[submodule "janus/vim-phpunit"]
	path = janus/vim-phpunit
	url = https://github.com/docteurklein/vim-phpunit.git
[submodule "janus/vim-php-namespace"]
	path = janus/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "janus/vim-snipmate-phpunit"]
	path = janus/vim-snipmate-phpunit
	url = https://github.com/nfedyashev/vim-snipmate-phpunit-snippets.git
[submodule "janus/phpcomplete"]
	path = janus/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "janus/powerline"]
	path = janus/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
