"*":
  "activate-power-mode":
    particles:
      effect: "default"
      enabled: false
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "atom-ide-ui":
    use: {}
  core:
    disabledPackages: [
      "language-javascript"
      "whitespace"
      "linter"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    showInvisibles: true
  "exception-reporting":
    userId: "5026b118-149a-9efa-009a-e8825f5bc2b8"
  "git-blame":
    columnWidth: 319
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap: {}
  "php-ide-serenata":
    storagePath: "/Users/bluemaex/Library/Preferences/php-ide-serenata"
  "php-integrator-base":
    general:
      indexContinuously: false
    linting:
      showMissingDocs: false
  "php-integrator-base:confirmed-upgrade-message": true
  "php-integrator-linter":
    showMissingDocs: false
    validateDocblockCorrectness: false
  "php-integrator-symbol-viewer":
    defaultShowInherited: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      semi: false
      singleQuote: true
      trailingComma: "es5"
  "svg-preview":
    openPreviewAutomatically: true
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 0
    toggles:
      autoClose: true
  "tree-view": {}
  welcome:
    showOnStartup: false
